- name: Create host command aliases
  file:
    dest: /usr/local/bin/{{ item.src }}
    src: /usr/bin/distrobox-host-exec
    state: link
  loop:
    - { src: ansible }
    - { src: ansible-galaxy }
    - { src: ansible-playbook }
    - { src: bootc }
    - { src: buildah}
    - { src: flatpak }
    - { src: ostree }
    - { src: podman }
    - { src: rpm-ostree }
    - { src: systemctl }
    - { src: tmux }
    - { src: xdg-open }

