- name: Update packages
  dnf:
    name: "*"
    state: latest

- name: Collect fedora version
  command: rpm -E %fedora
  register: fedora_version
  changed_when: false

- name: Install rpm-fusion version {{ fedora_version.stdout }}
  yum:
    name:
      - "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ fedora_version.stdout }}.noarch.rpm"
      - "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ fedora_version.stdout }}.noarch.rpm"
    state: present
    disable_gpg_check: true

- name: Swap ffmpeg
  dnf:
    name:
      - ffmpeg
    state: present
    allowerasing: true

- name: Install packages
  dnf:
    name:
      - cargo
      - chromium
      - clang
      - compat-lua
      - fd-find
      - fish
      - fzf
      - g++
      - gh
      - glab
      - gmp-devel
      - gnome-tweaks
      - gnupg2-scdaemon
      - go
      - gtk3-devel
      - host-spawn
      - htop
      - java-21-openjdk-devel
      - jq
      - julia
      - latexmk
      - luarocks
      - ncurses-compat-libs
      - neovim
      - ninja-build
      - ocrmypdf
      - pdfgrep
      - pdftk-java
      - pinentry-curses
      - podman-compose
      - poppler-utils
      - python3-pip
      - qrencode
      - ripgrep
      - rust
      - texlive-scheme-medium
      - tldr
      - tmux
      - wl-clipboard
      - yt-dlp
      - zsh
    state: latest
